body {
    position: absolute;
    width: 1702px;
    height: 1437px;
    background: #bd1616;
}

footer {
    box-sizing: border-box;
    width: 1384px;
    height: 75px;
    background: #6E6E6E;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
}